/* 1. Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Set 100% height for body and html */
html, body {
  height: 100%;
}

/* 4. Make images and videos responsive */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

